.content{
float:left;
width:100%;
padding: 10 0 0 30px;
background: yellow;

}

.sidebar{
      float: right;
      width: 20%;
      padding: 10px;
      background: green;
      height: 100%;
}

h1{
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px 0;
}

body{
    background: black;
    color: red;                                                                                                                                                                                                                                                                                                                         
}

#date{
    color: yellow;
    font-size: 12px;
    font-style: italic;
}